.service-section[data-v-6e626d41]{max-width:5xl;margin:0 auto}[data-v-6e626d41]{transition:all .3s ease}.service-card[data-v-6e626d41]:hover{transform:translateY(-4px);box-shadow:0 20px 40px -12px #00000026}
