textarea[data-v-fa47e0d3]:focus{border-color:var(--color-accent)!important;box-shadow:none!important;outline:none!important}textarea[data-v-fa47e0d3]:focus-visible{outline:none!important;box-shadow:none!important}
